* {
    box-sizing: border-box;
}

:root {
    --white-color: #ffffff; /*TODO: Change later to white*/
    --yellow-color: #ffc400;
    --red-color: #ff0000;
    --black-color: #000000;
    --blue-color: #031c81;
    --main-border: 7px solid var(--black-color);
}

.a {
    grid-area: acell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.b {
    grid-area: bcell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.c {
    grid-area: ccell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.d {
    grid-area: dcell;
    background-color: var(--yellow-color);
    border: var(--main-border);
}

.e {
    grid-area: ecell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.f {
    grid-area: fcell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.g {
    grid-area: gcell;
    background-color: var(--yellow-color);
    border: var(--main-border);
}

.h {
    grid-area: hcell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.k {
    grid-area: kcell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.l {
    grid-area: lcell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.m {
    grid-area: mcell;
    background-color: var(--black-color);
    border: var(--main-border);
}

.n {
    grid-area: ncell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.o {
    grid-area: ocell;
    background-color: var(--red-color);
    border: var(--main-border);
}

.a1 {
    grid-area: a1cell;
    background-color: var(--yellow-color);
    border: var(--main-border);
}

.b1 {
    grid-area: b1cell;
    background-color: var(--red-color);
    border: var(--main-border);
}

.c1 {
    grid-area: c1cell;
    background-color: var(--black-color);
    border: var(--main-border);
}

.d1 {
    grid-area: d1cell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.e1 {
    grid-area: e1cell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.f1 {
    grid-area: f1cell;
    background-color: var(--blue-color);
    border: var(--main-border);
}

.g1 {
    grid-area: g1cell;
    background-color: var(--white-color);
    border: var(--main-border);
}

.h1 {
    grid-area: h1cell;
    background-color: var(--black-color);
    border: var(--main-border);
}

.container {
    width: 100vw;
    height: 100vw;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 6fr 4fr 4fr 1fr;
    grid-template-rows: 3fr 6fr 6fr 3fr 3fr 2fr 1fr;
    /*   1     2     3    4      5    6    7  */
    grid-template-areas:
    " bcell bcell ccell ccell dcell dcell acell "
    " ecell ocell ocell ocell gcell gcell acell "
    " fcell ocell ocell ocell kcell ncell acell "
    " fcell mcell mcell lcell hcell hcell acell "
    " a1cell c1cell c1cell e1cell f1cell f1cell b1cell "
    " a1cell d1cell d1cell h1cell f1cell f1cell b1cell "
    " a1cell d1cell d1cell g1cell g1cell g1cell b1cell "
    ;
}
