<!DOCTYPE html>
<html>
<head>
    <title><%= title_page %></title>
</head>
<body>
<h1>Users</h1>
<ul>
    <% movies.forEach(user => { %>
        <li><%= user.name %></li>
    <% }) %>
</ul>
</body>
</html>