<!DOCTYPE html>
<html>
<head>
    <title><%= title_page %></title>
</head>
<body style="background-color: #515874; color: white;">
<h1><%= title %></h1>

<div>
    <span><a href="/articles"><%= text %></a></span>
</div>

</body>
</html>