<!DOCTYPE html>
<html data-theme="<%= theme %>">
<head>
    <link rel="icon" href="/icons/favicon_main.png">
    <title><%= title_page %></title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
<ul style="display: flex; align-items: center; justify-content: center; gap: 20px; list-style: none;">
    <li><a href="/set-cookie/light">Light Theme</a></li>
    <li><a href="/set-cookie/dark">Dark Theme</a></li>
</ul>
<h1><%= title %></h1>

<div>
    <span><a href="/articles"><%= text %></a></span>
</div>

</body>
</html>