* {
    box-sizing: border-box;
}

.container-enclosure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    height: 600px;
    width: 800px;
    gap: 10px;
}

.container {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 70px;
    width: 700px;
    background-color: lightgray;
    padding: 10px;
}

.container-large {
    display: flex;
    height: 170px;
    border: 2px solid black;
    width: 700px;
    background-color: lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 25px;
    
}

.reverse {
    flex-direction: column;
    flex-wrap: wrap;
}

/*Override padding to move column.*/
.middle {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 100px;
}

.item {
    border: 2px solid black;
    width: 100px;
    height: 50px;
    background-color: gray;
    margin: 10px;
}

/*Override height of item*/
.double {
    height: 120px;
}

/*Override width of item*/
.double-width {
    width: 200px;
}

.right {
    margin-left: 430px;
}

.item-middle {
    margin-left: 150px;
}

.two-blocks {
    gap: 400px;
}

.left {
    margin-right: 170px;
}

