* {
    box-sizing: border-box;
}

.container {
    background-color: lightgray;
    height: 70px;
    margin: 10px;
    border: 2px solid black;
}

.block {
    width: 100px;
    height: 50px;
    background-color: gray;
    margin: 10px;
    border: 2px solid black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.containertop {
    background-color: lightgray;
    height: 70px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    overflow: hidden;
}

.blocktop {
    width: 100px;
    height: 60px;
    background-color: gray;
    margin-top: 10px;
    margin-right: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.containerbottom {
    background-color: lightgray;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.blockbottom {
    width: 100px;
    height: 60px;
    background-color: gray;
    margin-top: 0px;
    margin-right: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.blockbottomleft {
    width: 200px;
    height: 60px;
    background-color: gray;
    margin-top: 0px;
    margin-left: calc(100% - 600px);
    margin-right: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.blocktopleft {
    width: 200px;
    height: 60px;
    background-color: gray;
    margin-top: 10px;
    margin-left: calc(100% - 600px);
    margin-right: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.blockright {
    width: 200px;
    height: 50px;
    background-color: gray;
    margin: 10px;
    border: 2px solid black;
}