* {
    box-sizing: border-box;
}

.container {
    background-color: lightgray;
    height: 70px;
    margin: 10px;
}

.block {
    width: 100px;
    height: 50px;
    background-color: gray;
    margin: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.containertop {
    background-color: lightgray;
    height: 70px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.blocktop {
    width: 100px;
    height: 60px;
    background-color: gray;
    margin-top: 10px;
    margin-right: 10px;
}

.containerbottom {
    background-color: lightgray;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.blockbottom {
    width: 100px;
    height: 60px;
    background-color: gray;
    margin-top: 0px;
    margin-right: 10px;
}
