* {
    box-sizing: border-box;
}

.container_main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.container {
    width: 300px;
    height: 300px;
    padding: 50px;
    border: 1px solid lightgray;
}

.square {
    background-color: #727272;
}

.rectangle {
    background-color: lightgray;
}

.circle {
    background-color: silver;
}

.ellipse {
    background-color: gray;
}