<!DOCTYPE html>
<html>
<head>
    <title><%= title_page %></title>
</head>
<body style="background-color: #515874">
<h1><%= title_article %></h1>
<div>
    <span style="color: #6c757d"><%= content %></span>
</div>
<div>
    <br>
    <span style="text-decoration-line: underline"><%= author %></span>
</div>
</body>
</html>