<!DOCTYPE html>
<html>
<head>
    <title>Add 3 Users</title>
</head>
<body>
<h1>Add New 3 Users</h1>

<form method="POST" action="/add_users">
    <label>Name:</label>
    <input type="text" name="name" required />
    <br><br>
    <label>Email:</label>
    <input type="email" name="email" required />
    <hr>
    <label>Name:</label>
    <input type="text" name="name" required />
    <br><br>
    <label>Email:</label>
    <input type="email" name="email" required />
    <hr>
    <label>Name:</label>
    <input type="text" name="name" required />
    <br><br>
    <label>Email:</label>
    <input type="email" name="email" required />
    <hr>
    <button type="submit">Add All Users</button>
</form>

</body>
</html>