<!DOCTYPE html>
<html>
<head>
    <title>Replace One User</title>
</head>
<body>
<h1>Replace One User</h1>

<form method="POST" action="/replace_user">
    <label>Name:</label>
    <input type="text" name="name" required />
    <br><br>
    <label>New Name:</label>
    <input type="text" name="name_new" required />
    <br><br>
    <label>New Email:</label>
    <input type="email" name="email" required />
    <br><br>
    <label>New Password:</label>
    <input type="text" name="password" required />
    <br><br>
    <button type="submit">Replace User</button>
</form>
</body>
</html>