* {
    box-sizing: border-box;
}

:root {
    --main-color: #EEEFF1;
    --secondary-color: #34547A;
    --text-descriptions-color: #727272;
    --text-white-color: #FFFFFF;
;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.1em;
}

.container_header {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-bottom: 141px;
}

header {
    background-color: var(--main-color);
}


.menu {
    display: flex;
    padding-top: 79px;
    gap: 42px;
    font-size: 16px;
    font-weight: 500;
    line-height: 26.25px;
    padding-inline: 0;
}

li {
    list-style: none;
}

.menu_item a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.menu_item a:hover {
    color: #34547A;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 78.75px;
    letter-spacing: 0.01em;
    padding-top: 162px;
    margin-block: 0;
}

.text_header {
    font-size: 16px;
    font-weight: 400;
    line-height: 26.25px;
    letter-spacing: 0.05em;
    color: var(--text-descriptions-color);
    max-width: 540px;
    padding-top: 60px;
    padding-bottom: 65px;
}

button {
    background-color: var(--secondary-color);
    color: var(--text-white-color);
    font-size: 16px;
    line-height: 26.25px;
    font-weight: 400;
    padding-top: 19px;
    padding-bottom: 20px;
    padding-inline: 41px;
    border: 0;
}

.container_description {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-top: 112px;
    padding-bottom: 100px;
}

.description {
    max-width: 540px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: auto;
}

h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 37.5px;
    letter-spacing: 0.05em;
}

.text_description {
    color: var(--text-descriptions-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26.25px;
    letter-spacing: 0.05em;
}

.container_projects {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
}

.container_pr_color {
    background-color: var(--secondary-color);
}

.project_list {
    display: flex;
    color: var(--text-white-color);
    gap: 49px;
    padding-block: 100px;
    margin-block: 0;
}

.project_item {
    background: left no-repeat url("../assets/images/project.png");
    width: 141px;
    height: 50px;
    font-size: 21px;
    line-height: 24.61px;
    font-weight: 500;
    padding-left: 70px;
}

.project_name {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 26.25px;
    font-weight: 400;
}

.container_info_video {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-top: 100px;
    padding-bottom: 57px;
    text-align: center;
}

.container_info_video_color {
    background-color: var(--main-color);
}

.container_video {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    /*padding-block: 100px;*/
    display: flex;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 100px;
}

iframe {
    width: 1140px;
    height: 600px;
}

.container_footer {
    max-width: 1150px;
    padding-inline: 20px;
    margin-inline: auto;
    padding-block: 50px;
}

footer {
    background-color: var(--secondary-color);
    color: var(--text-white-color);
}

h3 {
    font-size: 21px;
    font-weight: 500;
    line-height: 24.61px;
    letter-spacing: 0.05em;
    margin-block: 0;
    padding-bottom: 20px;
}

.legal_note {
    font-size: 13px;
    font-weight: 400;
    line-height: 21.33px;
    letter-spacing: 0.05em;
}
