@use "normalize";
@use "variables" as *;
@use "placeholders" as *;
@use "mixin-media" as *;
@use "header";
@use "projects";
@use  "adaptive";

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.1em;
  min-width: 1150px;
}

header {
  background-color: $main-color;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 78.75px;
  letter-spacing: 0.01em;
  padding-top: 162px;
  margin-block: 0;
}

.container_description {
  @extend %padding-margin-inline;
  max-width: $container-max-width;
  padding-top: 112px;
  padding-bottom: 100px;

  @include for-width(laptop) {
    max-width: $container-max-width-laptop;
  }

  @include for-width(mobile) {
    max-width: $container-max-width-mobile;
  }
}

.description {
  max-width: 540px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;

  .text_description {
    color: $text-descriptions-color;
    font-size: $main-text-size;
    font-weight: 400;
    line-height: 26.25px;
    letter-spacing: 0.05em;

    @include for-width(laptop) {
      font-size: $main-text-size-laptop;
    }

    @include for-width(mobile) {
      font-size: $main-text-size-mobile;
    }
  }
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 37.5px;
  letter-spacing: 0.05em;
}

.container_pr_color {
  background-color: $secondary-color;
}


.container_info_video {
  @extend %padding-margin-inline;
  max-width: $container-max-width;
  padding-top: 100px;
  padding-bottom: 57px;
  text-align: center;

  @include for-width(laptop) {
    max-width: $container-max-width-laptop;
  }

  @include for-width(mobile) {
    max-width: $container-max-width-mobile;
  }
}

.container_info_video_color {
  background-color: $main-color;
}

.container_video {
  @extend %padding-margin-inline;
  max-width: $container-max-width;
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 100px;

  @include for-width(laptop) {
    max-width: $container-max-width-laptop;
  }

  @include for-width(mobile) {
    max-width: $container-max-width-mobile;
  }
}

iframe {
  width: 1140px;
  height: 600px;
}

.container_footer {
  @extend %padding-margin-inline;
  max-width: $container-max-width;
  padding-block: 50px;

  @include for-width(laptop) {
    max-width: $container-max-width-laptop;
  }

  @include for-width(mobile) {
    max-width: $container-max-width-mobile;
  }

  .legal_note {
    font-size: 13px;
    font-weight: 400;
    line-height: 21.33px;
    letter-spacing: 0.05em;
  }
}

footer {
  background-color: $secondary-color;
  color: $text-white-color;
}

h3 {
  font-size: 21px;
  font-weight: 500;
  line-height: 24.61px;
  letter-spacing: 0.05em;
  margin-block: 0;
  padding-bottom: 20px;
}