$background: green;
$main-text-size: 100px;

body {
  background-color: $background;
  font-size: $main-text-size;
}

* {
  color: blue;
}

.container {
  display: flex;
}

@media (max-width: 800px) {
  body {
    font-size: 20px;
  }
}


@media (max-width: 1000px) {
  body {
    font-size: 40px;
  }
}

@media (max-width: 800px) {
  body {
    background-color: red;
  }
}